<?xml version="1.0"?>
<launch>
<arg name="move_prismatic_service_name" default="move_prismatic"/>
<arg name="m1_current_topic_name" default="m1_current"/>
<arg name="m2_current_topic_name" default="m2_current"/>
<arg name="status_topic_name" default="status"/>
<arg name="temperature_topic_name" default="temperature"/>
<arg name="deck_position_topic_name" default="deck_position"/>

<node pkg="roboclaw_ros" type="roboclaw_node.py" name="prismatic_driver_node" respawn="true">
    <rosparam command="load" file="$(find roboclaw_ros)/config/prismatic.yaml"/>
    <!--Control prismatic motors service -->
    <remap from="move_prismatic" to="$(arg move_prismatic_service_name)"/>
    <remap from="m1_current" to="$(arg m1_current_topic_name"/>
    <remap from="m2_current" to="$(arg m2_current_topic_name"/>
    <remap from="status" to="$(arg status_topic_name"/>
    <remap from="temperature" to="$(arg temperature_topic_name"/>
    <remap from="deck_position" to="$(arg deck_position_topic_name"/>
</node>

</launch>
