<?xml version="1.0"?>
<launch>
<arg name="driver_port" default="/dev/ttyROBOCLAW"/>
<arg name="move_prismatic_service_name" default="deck/control"/>
<arg name="m1_current_topic_name" default="m1_current"/>
<arg name="m2_current_topic_name" default="m2_current"/>
<arg name="m1_current_last_topic_name" default="m1_current_last"/>
<arg name="m2_current_last_topic_name" default="m2_current_last"/>
<arg name="status_topic_name" default="status"/>
<arg name="temperature_topic_name" default="temperature"/>
<arg name="deck_position_topic_name" default="deck_position"/>
<arg name="config_dir" default="$(find roboclaw_ros)/config/prismatic.yaml"/>
<arg name="mower_emergency_stop_param" default="mower/emergency_stop"/>
<arg name="mower_ce_block_enabled_param" default="mower/ce_block_enabled"/>


<node pkg="roboclaw_ros" type="roboclaw_node.py" name="prismatic_driver_node" respawn="true" output="screen"> 
    <rosparam command="load" file="$(arg config_dir)" subst_value="true"/>
    <!--Control prismatic motors service  -->
    <remap from="move_prismatic" to="$(arg move_prismatic_service_name)"/>
    <remap from="m1_current" to="$(arg m1_current_topic_name)"/>
    <remap from="m2_current" to="$(arg m2_current_topic_name)"/>
    <remap from="status" to="$(arg status_topic_name)"/>
    <remap from="temperature" to="$(arg temperature_topic_name)"/>
    <remap from="deck_position" to="$(arg deck_position_topic_name)"/>
    <remap from="mower/ce_block_enabled" to="$(arg mower_ce_block_enabled_param)"/>
    <remap from="mower/emergency_stop" to="$(arg mower_emergency_stop_param)"/>
</node>

</launch>
